<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form id="registrationForm" action="/admin/admin/Activate" method="POST" style="text-align: center; margin-top: 20px;">
        <h1>Verify Email</h1>
        <input type="text" name="code" placeholder="Code" required="" style="padding: 10px; margin-bottom: 10px; width: 200px;">
        <br>
        <input type="email" name="email" placeholder="Email" required="" style="padding: 10px; margin-bottom: 10px; width: 200px;">
        <br>
        <button type="submit" style="background-color: #3498db; border: none; border-radius: 5px; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; cursor: pointer; transition: background-color 0.3s ease; color: white;">
            Admin Verify Email
        </button>
    </form>
    

</body>

</html>