<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin dashboard</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: url('https://images.unsplash.com/photo-1555488205-d5e67846cf40?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bGFtcHxlbnwwfHwwfHx8MA%3D%3D');
      display: flex;
      background-repeat: no-repeat;
      background-size: cover;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      margin-top: 3rem;
    }

    h1 {
      margin-bottom: 0px;
      color: white;
    }

    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-block: 2rem;
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      text-transform: capitalize;
      padding: 10px 20px;
      border-radius: 20px;
      transition: background-color 0.3s ease;
    }

    a:hover {
      background-color: #F1F1F1;
      color: black;
    }
  </style>

</head>

<body>

  <h1>Welcome to Admin!</h1>
  <nav>
    <a href="/admin/admin/userdata" class="my-btn-class-29" role="button">Users Detail</a>
    <a href="/admin/admin/sell" class="my-btn-class-29" role="button">sell Account form</a>
    <a href="/buyandsell/weltosocialpage/eyJsdfdsfdsfhdrthbGciOiJIU&68328463283232382723dfhasfahfkfdafk6486324zI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
      class="my-btn-class-29" role="button">Buy $ Sell</a>
      <a href="/socialsell/welcomeSocialpages" class="my-btn-class-29" role="button">social panel</a>
      <a href="/BusnessModel/BusinessPages/pages" class="my-btn-class-29" role="button">User Services </a>
      <a href="/buyer-form/BusinessPages/home" class="my-btn-class-29" role="button">Buyer Code </a>
      <a href="/Seller-form/Busineesspage/Home" class="my-btn-class-29" role="button">Seller Code </a>
      <a href="/buyerPayment-form/PaymentPage/home" class="my-btn-class-29" role="button">Buyer Payment Form </a>
      <a href="/SellerPayment-form/paymentPage/render/home" class="my-btn-class-29"
      role="button">Seller Payment Form</a>
      <a href="/Account/Welcome_to_Payment" class="my-btn-class-29" role="button">User Add Fund Details</a>
      <a href="/serachusers/email/all-users" class="my-btn-class-29"
      role="button">Buyer & Seller & Fund History</a>
      <a href="/admin/admin/signuppage" class="my-btn-class-29" role="button">Add Admin </a>
      
      <a href="/serachusers/email/admin/search" class="my-btn-class-29"
      role="button" style="display: none;">Search Users </a>
      <a href="/social/WelcomeEarningVideo" class="my-btn-class-29" role="button" style="display: none;">Earning</a>
      <a href="/BuyAccounts " class="my-btn-class-29" role="button" style="display: none;">Accounts View Details </a>
    <a href="/Chat/Chats" class="my-btn-class-29" role="button" style="display: none;">Get SMS Details </a>
    <a href="/cloudinaryupload/all-images-urls" class="my-btn-class-29" role="button" style="display: none;">Get all images </a>
    <a href="/cloudinaryupload/upload-form" class="my-btn-class-29" role="button" style="display: none;">Upload images </a>

  

  </nav>


</body>

</html>