<!DOCTYPE html>
<html>
<head>
    <title>Delete Seller Form</title>
</head>
<body>
    <h1>Delete Seller Form</h1>
    <form action="/Seller-form/delete" method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="accountId">Account ID:</label><br>
        <input type="text" id="accountId" name="accountId"><br>
        <input type="submit" value="Delete">
    </form>
    <p>Note: You can delete a seller form by providing either the email or the account ID.</p>
</body>
</html>
