<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Welcome to Admin Page!</h1>
        <nav>
            <a href="/social/social-links/updateSocialLinks/videos" class="button-20" role="button">Update Any video</a>
            <a href="/social/add-video" class="button-20" role="button"> Add any video</a>
            <a href="/social/social-links/deleteVideo/videos" class="button-20" role="button"> delete-video</a>
            <a href="/social/show-videos" class="button-20" role="button"> Get All the Videos</a>
        </nav>
    </header>
</body>
<style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #f0f0f0;
        padding: 20px;
        text-align: center;
    }

    nav {
        margin-top: 20px;
    }

    nav a {
        margin-right: 10px;
        text-decoration: none;
        color: #333;
        padding: 8px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    nav a:hover {
        background-color: #ddd;
    }

</style>
</html>