<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        body{
            background: url('https://million-wallpapers.ru/wallpapers/0/0/424539325067547/fantasy-portrait-of-a-fashionable-woman.jpg');
            background-size: cover;
            position: absolute;
            top:  50%;
            left: 50%;
            transform: translate(-50% , -50%);
        }
        .text  {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: linear-gradient(to right , rgba(255, 255, 255, 0) , black);
}
.adminLogin{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.adminLogin a{
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.adminLogin a:hover{
    background-color: #F1F1F1;
    color: black;
}

    </style>
</head>
<body>
    <div class="text">

        Welcome to Admin Page Login & SignUp!
    </div>
       <div class="adminLogin">
        <a href="/admin/admin/login/page"  role="button">Login</a>
        <a href="/admin/admin/signuppage"  role="button">Signup</a>
       </div>
</body>
</html>