<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer Payment</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
   
    <header>
        <h1>Welcome to Buyer Payment Data Page</h1>
        <nav>
        <a href="/buyerPayment-form/users/data" class="button-20" role="button">Get All Payment-Form Details</a>
        <a href="/buyerPayment-form/Delete/page" class="button-20" role="button">Delete Payment-Form Details</a>
        <a href="/buyerPayment-form/payments" class="button-20" role="button" style="display: none;">Buyer Payment-Form JSON Format Data</a>
        </nav>
    </header>
</body>

</html>
<style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #f0f0f0;
      padding: 0;
  }

  header {
      padding: 20px;
      text-align: center;
  }

  nav {
      margin-top: 30px;
  }

  nav a {
      margin-right: 10px;
      text-decoration: none;
      color: #333;
      padding: 8px 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

  nav a:hover {
      background-color: #ddd;
  }

</style>