<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SevicesHomePage</title>
</head>
<body>
    <header>
        <h1>Welcome to Services Page</h1>
        <nav>
            <a href="/alert/scammersPage" class="button-20" role="button">Scammers Page Details</a>
            <a href="/alert/scammers/delete/page" class="button-20" role="button">Delete Scammers  Details</a>
            <a href="/alert//scammers/Update/page"  class="button-20" role="button">Create Details By admin</a>
            <a href="/alert//scammers/Update/page"  class="button-20" role="button">Create Details By admin</a>

        </nav>
    </header>
</body>
<style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f0f0f0;
        padding: 0;
    }

    header {
        padding: 20px;
        text-align: center;
    }

    nav {
        margin-top: 30px;
    }

    nav a {
        margin-right: 10px;
        text-decoration: none;
        color: #333;
        padding: 8px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    nav a:hover {
        background-color: #ddd;
    }

</style>
</html>