<!DOCTYPE html>
<html>
<head>
    <title>Buy Sell </title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f0f0f0;
        padding: 0;
    }

    header {
        padding: 20px;
        text-align: center;
    }

    nav {
        margin-top: 30px;
    }

    nav a {
        margin-right: 10px;
        text-decoration: none;
        color: #333;
        padding: 8px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    nav a:hover {
        background-color: #ddd;
    }

</style>
</head>
<body>

    <header>
    <h1>Welcome to Buy  Page</h1>
      <nav>
          <a href="/buyandsell/add/create-buy-sells" class="button-20">Create Buy Account</a>
          <a href="/buyandsell/update-buy-sells" class="button-20">Update Buy Account</a>
          <a href="/buyandsell/delete-buy-sells" class="button-20">Delete Buy Account</a>
          <a href="/buyandsell/get-buy-sells" class="button-20" style="display: none;">See All Buy Acc</a>
         
      </nav>
  </header>
</body>
</html>
