<!DOCTYPE html>
<html lang="en">
<head>
  <title>Earning Routes</title>

  <style>
    body {
      font-family: sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    .buttonEarn {
      width: 80%;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
    .buttonEarn a {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 3rem;
      color: black;
      border: 2px solid rgba(0, 0, 0, 0.283);
      transition: 0.4s ease-in-out;
    }
    .buttonEarn a:hover{
      border-color: black;
    }


  </style>
  <style>
    .container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.content {
  text-align: left;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.content h2 {
  color: #333;
  margin-bottom: 20px;
}

.content h3 {
  color: #666;
  margin: 20px 0;
}

.content p {
  color: #999;
  line-height: 1.6;
}

  </style>
</head>
<body>
  <a href="/admin/collection-ensureIndex/kira-yagami-082561-lira-Integrate-page-of-admin-931249/success" style="text-align: center; text-decoration: none; position: relative;
  left: 47%;" role="button">Go tO Home</a>
  <div class="buttonEarn">
    <a href="/social/add-video" >Add Video</a>
    <a href="/social/social-links/updateSocialLinks/videos" >Update Video</a>
    <a href="/social/social-links/deleteVideo/videos" >Delete Video</a>
    <a href="/social/show-videos" >See All videos</a>
    <!-- <a href="/social/social-links/updateSocialLinks/videos" >Update Video</a> -->
  </div>
  <div class="container">
    <div class="content">
      <h2>Welcome to Earning Routes!</h2>
      <p>Here, you can manage your videos and social links. Let's get started:</p>
      <h3>Home</h3>
      <p>Click on the 'Home' button to return to the homepage at any time.</p>
      <h3>Add Video</h3>
      <p>Click on the 'Add Video' button to upload a new video. You'll be able to choose a video file from your device.</p>
      <h3>Update Video</h3>
      <p>Click on the 'Update Video' button to modify your social media links. Make sure to save your changes.</p>
      <h3>Delete Video</h3>
      <p>Click on the 'Delete Video' button to remove a video. You'll be asked to confirm your decision before the video is permanently deleted.</p>
    </div>
  </div>


</body>
</html>
