<style>
  h1{
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 5rem;
  color: black;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.buttonEarn {
text-align: center;
}
.buttonEarn a {
display: inline-block;
padding: 10px 20px;
text-decoration: none;
border-radius: 3rem;
color: black;
border: 2px solid rgba(0, 0, 0, 0.283);
transition: 0.4s ease-in-out;
}
.buttonEarn a:hover{
border-color: black;
}

</style>
</head>
<body>
  <a href="/admin/collection-ensureIndex/kira-yagami-082561-lira-Integrate-page-of-admin-931249/success" style="text-align: center; text-decoration: none; position: relative;
  left: 47%;" role="button">Go tO Home</a>
  <h1>Welcome to Socail panel Page</h1>
  <div class="buttonEarn">


    <a href="/socialsell/add/create-social-sells"  >Create Social Acc</a>
    <a href="/socialsell/update-social-sells"  >Update Social Acc</a>
    <a href="/socialsell/delete-social-sells"  >Delete Social Sell</a>
    <a href="/socialsell/get-social-sells"  >See All Social Acc</a>
    </div>
  
</body>
</html>
