<!DOCTYPE html>
<html>
<head>
    <title>social </title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f0f0f0;
        padding: 0;
    }

    header {
        padding: 20px;
        text-align: center;
    }

    nav {
        margin-top: 30px;
    }

    nav a {
        margin-right: 10px;
        text-decoration: none;
        color: #333;
        padding: 8px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    nav a:hover {
        background-color: #ddd;
    }

</style>
</head>
<body>

    <header>
    <h1>Welcome to Social  Page</h1>
      <nav>
          <a href="/socialsell/add/create-social-sells"  class="button-20">Create Social Acc</a>
          <a href="/socialsell/update-social-sells" class="button-20" >Update Social Acc</a>
          <a href="/socialsell/delete-social-sells" class="button-20" >Delete Social Sell</a>
          <a href="/socialsell/get-social-sells"  class="button-20" style="display: none;">See All Social Acc</a>
      </nav>
  </header>
</body>
</html>
